.navbar li{
    text-decoration: none;
    background-color: rgb(88, 153, 108);
    width: 20%;
    display: inline-block;
    margin: 0;
    padding: 10px;
}
.navbar ul{
    width: 100%;
    display: block;
}
.navbar a{
    text-decoration: none;
}